@for $i from 1 through 5 {
  .border-#{$i} {
    border: solid #{$i}px;
  }
  .border-radius-#{$i} {
    border-radius: #{$i}px;
  }
  .border-bottom-#{$i} {
    border-bottom: solid #{$i}px;
  }
}
.no-border {
  border: none;
}
.no-outline {
  outline: none;
}

.no-border {
  border: none;
}
.no-outline {
  outline: none;
}

.border-line-bottom {
  border-bottom: solid 1px #e9e9e9;
}
