.home_wrapper {
  .info-pane {
    min-width: "30%";
    background: "white";
    max-height: "100vh";
    overflow: "scroll-x";

    .search-pane {
      margin: "20px";
      margin-right: "100px";
      padding: "30px";
    }
  }

  .info-window {
    background: white;
    border: 1px solid #ccc;
    padding: 15;
  }
}
